div.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 5vh;
    gap: 5vh;

    background-color: var(--bg-dark);
}

.game-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;

    height: 90vh;
    /* aspect-ratio: 1/1; */
    width: 100%;

    padding: 3vh;
    border-radius: 3vh;
    box-shadow: var(--shadow-m);

    background-color: var(--bg);
    /* overflow: hidden; */
    overflow: visible;
    --mask: none;
}

/* .game-grid::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: var(--gradient);
    z-index: 0;
    -webkit-mask: var(--mask, none);
    mask: var(--mask, none);
} */

.game-buttons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

button {
    height: 10vh;
    padding: .8vh;
    aspect-ratio: 1;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: var(--shadow-m);
    background-color: var(--bg);
}

button:hover {
    background-color: var(--bg-light);
}

.game-hp {
    /* margin: 5vh 0; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-hp span {
    font: var(--h2-mono);
    color: var(--text);
    margin-top: 5vh;
    text-align: center;
}

.game-archive {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 5vh; */
    justify-content: center;
}

.game-archive button.left-button {
    left: 0;
}

.game-archive button.right-button {
    right: 0;
}

.game-archive span.empty-archive {
    font: var(--h3);
    color: var(--text-muted);

    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.game-archive button {
    height: 8vh;
}

.game-archive .archive {
    position: relative;
    background-color: var(--bg);
    min-height: 10vh;
    width: 60vh;
    /* min-width: 50vh; */
    margin: 0 2vh;
    border-radius: 3vh;
    padding: 2vh;

    box-shadow: var(--shadow-l);
}