@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    /* type */
    --ff-mono: "Space Mono", monospace;
    --ff: "Space Grotesk", sans-serif;

    --h1: 700 3rem/2em        var(--ff);
    --h2: 600 2rem/1.4em      var(--ff);
    --h3: 500 1.5rem/1.4em    var(--ff);
    --h4: 400 1.25rem/1.4em   var(--ff);
    --p:  400 1.1rem/1.6em    var(--ff);
    --s:  400 0.9rem/1.6em    var(--ff);

    --h1-mono: 700 3rem/2em        var(--ff-mono);
    --h2-mono: 600 2rem/1.4em      var(--ff-mono);
    --h3-mono: 500 1.5rem/1.4em    var(--ff-mono);
    --h4-mono: 400 1.25rem/1.4em   var(--ff-mono);
    --p-mono:  400 1.1rem/1.6em    var(--ff-mono);
    --s-mono:  400 0.9rem/1.6em    var(--ff-mono);

    /* colors */
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 25%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);

    --primary: rgb(045,149,235);
    --secondary: rgb(18, 37, 141);
    --gradient: linear-gradient(215deg, var(--primary), var(--secondary));

    --correct1: rgb(64, 255, 47);
    --correct2: rgb(18, 82, 28);
    --correct-gradient: linear-gradient(215deg, var(--correct1), var(--correct2));

    --valid1: rgb(255, 221, 0);
    --valid2: rgb(102, 71, 13);
    --valid-gradient: linear-gradient(215deg, var(--valid1), var(--valid2));

    --invalid1: rgb(255, 0, 0);
    --invalid2: rgb(93, 6, 6);
    --invalid-gradient: linear-gradient(215deg, var(--invalid1), var(--invalid2));

    --missed1: rgb(161, 161, 161);
    --missed2: rgb(83, 83, 83);
    --missed-gradient: linear-gradient(215deg, var(--missed1), var(--missed2));

    /* shadows */
    --shadow-s: 
        inset 0 1px 2px #ffffff30, 
        0 1px 2px #00000030,
        0 2px 4px #00000015;
    --shadow-m: 
        inset 0 1px 2px #ffffff50, 
        0 2px 4px #00000030,
        0 4px 8px #00000015;
    --shadow-l: 
        inset 0 1px 2px #ffffff50, 
        0 4px 6px #00000030,
        0 6px 10px #00000015;
        
    --transition:   all .15s ease-in-out;
    --transition-l: all .3s  ease-in-out;
}